In [1]:
import pandas as pd
import numpy as np

data = {
    'sku': [0, 1, 1, 2, 2, 3, 3, 4, 5, 5, 5, 6, 6, 6, 7, 8, 9],
    'agg': ['max', 'med', 'med', 'avg', 'avg', 'rnk', 'rnk', 'max', 'max', 'max', 'max', 'min', 'min', 'min', 'med', 'rnk', 'rnk'],
    'rank': [-1, 0, 1, 0, 1, 0, 2, 0, 0, 1, 2, 0, 1, 2, 0, -1, 0],
    'base_price': [33.0, 17.7, 17.7, 76.7, 76.7, 39.7, 39.7, 18.0, 84.8, 84.8, 84.8, 73.6, 73.6, 73.6, 58.6, 35.2, 87.0],
    'comp_price': [np.nan, 16.4, 21.8, 77.0, 73.9, 37.4, 47.9, 22.4, 106.0, 104.7, 80.9, 31.7, 33.6, 74.7, 71.3, np.nan, 88.2]
}

df = pd.DataFrame(data)

print(df)

    sku  agg  rank  base_price  comp_price
0     0  max    -1        33.0         NaN
1     1  med     0        17.7        16.4
2     1  med     1        17.7        21.8
3     2  avg     0        76.7        77.0
4     2  avg     1        76.7        73.9
5     3  rnk     0        39.7        37.4
6     3  rnk     2        39.7        47.9
7     4  max     0        18.0        22.4
8     5  max     0        84.8       106.0
9     5  max     1        84.8       104.7
10    5  max     2        84.8        80.9
11    6  min     0        73.6        31.7
12    6  min     1        73.6        33.6
13    6  min     2        73.6        74.7
14    7  med     0        58.6        71.3
15    8  rnk    -1        35.2         NaN
16    9  rnk     0        87.0        88.2

In [18]:
def agg_comp_price(X: pd.DataFrame) -> pd.DataFrame:
    sku_agg_dict = X.groupby('sku')['agg'].agg(lambda x: x.unique()[0]).to_dict()
    def get_new_price(row):
        if row['sku'] == 
        
    
    X['new_price'] = X.apply(lambda row: foo(row), axis=1)
    return sku_agg_dict

In [20]:
agg_comp_price(df)

{0: 'max',
 1: 'med',
 2: 'avg',
 3: 'rnk',
 4: 'max',
 5: 'max',
 6: 'min',
 7: 'med',
 8: 'rnk',
 9: 'rnk'}